<%- include("../partials/header") %>
<h1>Edit Supplier</h1>
<form method="POST" action="/suppliers/<%= supplier._id %>/edit">
  <input type="text" name="name" value="<%= supplier.name %>" required><br>
  <input type="text" name="address" value="<%= supplier.address %>"><br>
  <input type="text" name="phone" value="<%= supplier.phone %>"><br>
  <button type="submit">Update</button>
</form>
<%- include("../partials/footer") %>